@charset "UTF-8" ;
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
}

a{
    text-decoration: none ;
    color: white ;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    text-align: center;
    background-attachment: fixed;
}

h1 {

    color: white;
    font-family: "Passion One" ;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;

}

header > p{
    font-family: "Sriracha";
    color: rgb(148, 146, 146);
    padding-bottom: 41px ;
    position: relative;
}

section {

    padding-top: 10vh;
    padding-bottom: 10vh; 
    padding-left: 30px;
    line-height: 2em ;
}

.section1{
    font-family: "Sriracha";
    font-size: 1.5em;
    background-color: rgb(255, 255, 255);
    font-size: 3.5vw;

}

.section2{

    background: url('imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover ;

}

.section2 > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.496) ;
    font-family: "Sriracha";
    width: 42vw;
    font-size: 3.5vw;
    line-height: 2em;
}

.section3{

    background: url('imagens/background002.jpg') left center fixed ;
    background-size: cover ;

}

.section3 > p{
    text-shadow: 1px 1px 2px black;
    color:white;
    background-color: rgba(0, 0, 0, 0.496) ;
    font-family: "Sriracha";
    width: 42vw;
    font-size: 3.5vw;
    line-height: 2em;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}



